.b{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: chocolate;
}

.separator{
    color: blanchedalmond
}

.containerDiv {
    border: 1px solid #3697f6;
    width: 70%;
    align-self: center
  }
  
  .rowDivHeader {
    border: 1px solid #668db6;
    background-color: #336799;
    color: white;
    font-weight: bold;
  }
  
  .rowDiv {
    border: 1px solid #668db6;
    background-color: #cee6fe;
  }
  
  .cellDivHeader {
    border-right: 1px solid white;
    display: table-cell;
    width:10%;
    padding: 1px;
    text-align: center;
  }
  
  .cellDiv {
    border-right: 2px solid white;
    display: table-cell;
    width:10%;
    padding-right: 4px;
    text-align: center;
    border-bottom: none;
  }
  
  .lastCell {
    border-right: none;
  }