body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a{
  color: aquamarine;
  text-decoration-style: none;
  text-decoration-line: none;
}

a:hover{
  color:yellowgreen;
  text-decoration-line: unset;
}